form {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    padding: 4px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: var(--primary-color);
}

input[type="submit"] {
    padding: 4px 8px;
    font-size: 1em;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: var(--warning-color);
    color: var(--primary-color);
}