header {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
    margin: 0;
    border-bottom: 4px solid var(--warning-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.logo h1 {
    font-family: "Merienda", serif;
    font-weight: 800;
    font-size: 40px;
    color: var(--warning-color);
    margin-left: 16px;
}

.nav {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    font-weight: 700;
    font-family:Verdana, Tahoma, sans-serif;
}

.nav li {
    margin-right: 14px;
}

.nav li:hover, .nave li:active {
    color: var(--warning-color);
}

/* Small screens (mobile devices) */
@media (max-width: 576px) {
    header {justify-content: center;}
}