<header>
    <section class="mainHeader">
    <a routerLink="" class="logo">
        <img src="./img/logo.png" alt="myEstore logo" width="50" height="50" />
        <h1>myEstore</h1>
    </a>
    <div class="cartBox">
        <a routerLink="cart" class="cartData">Cart - <span>${{carttotal.totalPrice}} </span> </a>
    </div>
    </section>
       
    <section class="navMenu">
        <ul class="nav">
            <li><a routerLink="" routerLinkActive="active">Home</a></li>
            <li><a routerLink="">Departments</a></li>
            <li><a routerLink="">Deals</a></li>
            <li><a routerLink="cart">Cart</a></li>
            <li><a routerLink="">Account</a></li>
        </ul>
    </section>
</header>