<footer>
    <div class="firstCol" routerLink="">
        <div class="logoSection">
            <img src="./img/logo.png" alt="myEstore logo" width="40" height="40" />
            <p>myEstore</p>
        </div>
    </div>
    <div>
        <h3>Shop</h3>
        <ul>
            <li><a routerLink="">Categories</a></li>
            <li><a routerLink="">Store</a></li>
            <li><a routerLink="cart">Cart</a></li>
            <li><a routerLink="">Your Account</a></li>
        </ul>
    </div>
    <div>
        <h3>More</h3>
        <ul>
            <li><a routerLink="">Privacy Policy</a></li>
            <li><a routerLink="">Terms and Conditions</a></li>
            <li><a routerLink="">About</a></li>
            <li><a routerLink="">Contact Us</a></li>
        </ul>
    </div>
    <div>
        <div class="lang">
            <h3>Language</h3>
            <select id="language">
                <option value="arabic">العربية</option>
                <option value="english">English</option>
                <option value="french">French</option>
            </select>
        </div>
        <p>Copyright © 2024. All rights reserved.</p>
    </div>
</footer>