table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 4px 8px;
  }

  thead, .totals th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  ul {
    list-style-type: none;
  }

  