@font-face {
    font-family: "Merienda";
    src: url(assets/fonts/Merienda-VariableFont_wght.ttf) format("opentype");
    font-weight: 400;
  }

  :root {
    --primary-color: #2a4555;
    --secondary-color: #e3e2df;
    --success-color: #e3afbc;
    --warning-color: #EBE72F;
    --info-color: #ee4c7c;
    --danger-color: #EB2F36;
  }

  body{
    background-color: var(--secondary-color);
    margin:0;
  }