@font-face {
  font-family: "Merienda";
  src: url(assets/fonts/Merienda-VariableFont_wght.ttf) format("opentype");
  font-weight: 400;
}

:root {
  --primary-color: #2a4555;
  --secondary-color: #e3e2df;
  --success-color: #e3afbc;
  --warning-color: #d1ce29;
  --info-color: #ee4c7c;
  --danger-color: #EB2F36;
}

body {
  background-color: var(--secondary-color);
  margin: 0;
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover,
a:active {
  color: var(--warning-color);
}

.page {
  padding: 24px;
}

.main {
  display: grid;
  grid-template-columns: 20% 80%;
}

.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

button,
.button,
.plus,
.minus {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

button,
.button {
  border-radius: 20px;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
}

.plus {
  border-radius: 0 20px 20px 0;
}

.minus {
  border-radius: 20px 0 0 20px;
}

.discount {
  color: var(--danger-color);
  margin-left: 4px;
}

/* Medium screens (tablets, small laptops) */
@media (max-width: 992px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}

/* Small screens (mobile devices) */
@media (max-width: 576px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}