@font-face {
    font-family: "Merienda";
    src: url(assets/fonts/Merienda-VariableFont_wght.ttf) format("opentype");
    font-weight: 400;
  }

  :root {
    --primary-color: #5d001e;
    --secondary-color: #e3e2df;
    --success-color: #e3afbc;
    --warning-color: #9a1750;
    --info-color: #ee4c7c;
    --danger-color: #F5BCBA;
  }

  body{
    background-color: var(--secondary-color);
  }