input[type="text"] {
    padding: 6px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: var(--primary-color);
}

button {
    padding: 8px 16px;
    margin: 0;
    font-size: 1em;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--warning-color);
    color: var(--primary-color);
}

/* Medium screens (tablet devices) */
@media (max-width: 992px) {
    button {
        margin-top: 4px;
        border-radius: 5px;
    }
    input[type="text"] {
        border-radius: 5px;
        margin-right: 4px;
    }
    }

/* Small screens (mobile devices) */
@media (max-width: 576px) {
button {
    margin-top: 4px;
    border-radius: 5px;
}
}