<section class="page">
    <div class="main">
        <!-- sidebar -->
        <app-side-bar></app-side-bar>
        <!-- main content -->
        <div>
            <h2>Latest Products</h2>
            <div class="container">
                @for (product of products; track product.id) {
                <div class="product-card">
                    <div class="product-image">
                        <a routerLink="/products/{{product.id}}">
                            <img [src]="product.image" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a routerLink="/products/{{product.id}}">
                            <h3 class="product-title">{{product.title}}</h3>
                        </a>
                        <div class="end">
                            <p class="product-price">
                                {{ product.discount < product.price ? product.price - product.discount : product.price |
                                    currency }} <span class="discount" *ngIf="product.discount < product.price">
                                    <del>{{ product.price | currency }}</del>
                                    </span>
                            </p>
                            <a class="buy-now" (click)="addCartItem(product)"><fa-icon [icon]="cart"></fa-icon> Add to
                                Cart </a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</section>